<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="agentLogDir"
                    source="agent.logging.directory" defaultValue="logs"/>
    <property name="CONSOLE_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] [runId=%X{runId:-} traceId=%X{traceId:-} nodeName=%X{nodeName:-} modelName=%X{modelName:-}] %logger{36} - %msg%n"/>
    <property name="FILE_PATTERN"
              value="%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] [runId=%X{runId:-} traceId=%X{traceId:-} nodeName=%X{nodeName:-} modelName=%X{modelName:-}] %logger{48} - %msg%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${agentLogDir}/agent4j-current.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${agentLogDir}/agent4j-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>
