.git
.github/modernize
.worktrees
tmp
target
**/target
node_modules
**/node_modules
.frontend
**/.frontend
.env
*.log
*.out

# 允许 Docker 传输 agent-web 下打好的 jar 包
!agent-web/target/
agent-web/target/*
!agent-web/target/*.jar
